<div class="relative -m-2 flex items-center space-x-4 rounded-xl p-2 focus-within:ring-2 focus-within:ring-indigo-500 "
    [ngClass]="{'hover:bg-gray-50': route}">
    <div class="flex-shrink-0 flex items-center justify-center h-16 w-16 rounded-lg" [ngClass]="classNames">
        <ng-content></ng-content>
    </div>
    <div>
        <h3 class="text-sm font-medium text-gray-900">
            <a class="focus:outline-none" [href]="route" [ngClass]="{'cursor-default': !route}">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <span>{{title}}</span>
                <span aria-hidden="true" *ngIf="route"> &rarr;</span>
            </a>
        </h3>
        <ng-container *ngIf="route">
            <p class="mt-1 text-sm text-gray-500">{{description}}
            </p>
        </ng-container>
        <ng-container *ngIf="!route">
            <div
                class=" items-center my-1 font-medium py-1 px-2 rounded-full text-[#071A39] bg-[#FFE166] border border-[#FFE166] w-[116px]">
                <div class="text-xs font-normal leading-none">Bientôt disponible</div>
            </div>
        </ng-container>
    </div>
</div>