@use "./variables" as variables;

h1 {
    max-height: variables.$navbar_height;

    &.isBPI {
        background: #FFCD00;
    }
}

.logo-bpi {
    max-height: calc(variables.$navbar_height - 14px);
}