
@use "app/variables" as variables;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}

.card {
  @apply shadow-md rounded-md p-4 m-4 flex-1 cursor-pointer justify-center md:flex md:items-center bg-white;

  h3 {
    @apply text-center;
    margin: 0 !important;
  }
}
